.carta {
  border-radius: 10px;
  height: 200px;
  cursor: pointer;
  background-color: black;
  margin: 20px;
}

/* .carta:hover {
  background-color: aquamarine;
} */

#red {
  background-color: black;
}

#blue {
  background-color: black;
}

#green {
  background-color: black;
}

#yellow {
  background-color: black;
}

#purple {
  background-color: black;
}

#orange {
  background-color: black;
}

.oculto {
  display: none;
}
